:root{
    /* --barva-hlavni: ;  */
    --barva-sekce1: rgba(250, 195, 195, 0.951);
    --barva-sekce2: rgb(240, 149, 149);
    --barva-text: rgb(15, 13, 13);
    --mezera: 1.5rem;
    --barva-header: rgb(252, 252, 252);
    --barva-odkazu: rgb(0, 0, 0);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{  
    font-family: "Marcellus", serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--barva-text);
}
h1,h2,h3{
    font-weight: 800;
}
/* -------------------------------------hlavicka-------------------------------------------- */
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    top: 0;
    background-color: var(--barva-header);
    padding: 1rem var(--mezera);
}
header img{
    height: 50px;
    width:auto;
}
/* -------------------------------------------hamburger tlacitko-------------------------------------------- */
nav{ 
    display: none; 
    flex-direction: column;
    gap: var(--mezera);
    position: absolute;
    top:100%;
    left:auto; /*naschval auto nechci to mit pres celou obarzovku*/
    right:0;
    background-color: var(--barva-header);
    padding: var(--mezera);
}
nav.otevrene{
    display:flex;
}

nav a{
    text-decoration: none;
    color:var(--barva-odkazu);
    padding: 0.5rem 1rem;
    border-radius: 13px;
    transition: all 0.2s;
    border: 1px solid transparent;
    border-color: transparent;

}
nav a:active,
nav a:hover{
    border-color: black;
    transform:scale(1.05);

}
.cta-tlacitko{
    background-color: rgba(17, 93, 17, 0.55);
    font-weight: 500;
}
.jine-odkazy{
    text-decoration: none;
}
.hamburger{
    background:none;
    border: 1px solid black;
    border-color: transparent;
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--barva-text);
    padding: 0.25rem 0.5rem;
}
.hamburger:hover,
.hamburger:active{
    opacity:0.5;
    border-color: black;
    border-radius: 0.5rem;
}
/* ----------------------------------------------fotky------------------------------------------------ */
img{ 
    display: block;
    max-width: 100%;
    border-radius: 20px;
}
/* jak udelat ty fotky klikaci?(jakoze kdyz na ne klikne tak se zvetsi na celou obrazovku, doporucujes to?) */
.foto-profil{
    width: 60%;
    aspect-ratio: 3/4;
    object-fit: contain;
    padding: 0.3rem;
}
#certifikaty{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0.5rem;
}
#certifikaty img{
    width:100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}
.skryte-certifikaty{
    display: none;
}
.skryte-certifikaty.zobrazit{
    display: block;
}
/* proc to nefunguje? */
.vice-certifikatu{
    display: flex;
    grid-column: span 2;
    justify-self: center;
    justify-content: center;
    width: 80%;
}
/* -----------------------------------------sekce------------------------------------------- */
section{
    padding: 2rem;
    max-width: 1100px;
    margin:0 auto;
}


@media(min-width: 900px){
    .hamburger{
        display:none;
    }
    nav{
        display:flex;
        flex-direction:row;
        position:static;
        padding: 0;
        background-color: transparent;
    }
}